BoothMaster.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
DistrictAssemblyWiseBarChart.aspx filter=lfs diff=lfs merge=lfs -text
InstallationReport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
Dashboard.aspx filter=lfs diff=lfs merge=lfs -text
outdoorgridview.aspx filter=lfs diff=lfs merge=lfs -text
Unmapcamera.aspx.cs filter=lfs diff=lfs merge=lfs -text
VideoBitrate.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
camerasetting.aspx filter=lfs diff=lfs merge=lfs -text
Admin.Master filter=lfs diff=lfs merge=lfs -text
LoadTestReport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
NetworkFeasiblityRpt.aspx filter=lfs diff=lfs merge=lfs -text
SizeCalulation.aspx.cs filter=lfs diff=lfs merge=lfs -text
AIView.aspx filter=lfs diff=lfs merge=lfs -text
DistrictAssemblyWisePieChart.aspx filter=lfs diff=lfs merge=lfs -text
GridViewfategarh.aspx.cs filter=lfs diff=lfs merge=lfs -text
electionapi.asmx filter=lfs diff=lfs merge=lfs -text
outdoorgridview.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
NewLayout filter=lfs diff=lfs merge=lfs -text
CameraConnectedOnceReport.aspx filter=lfs diff=lfs merge=lfs -text
CameraConnectedOnceReport.aspx.cs filter=lfs diff=lfs merge=lfs -text
DistrictData.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
GridViewfategarh.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
SwapCamera.aspx.cs filter=lfs diff=lfs merge=lfs -text
Unmappedlist.aspx.cs filter=lfs diff=lfs merge=lfs -text
TrailRunReport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
InstallationUpdation.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
cam_alert.aspx filter=lfs diff=lfs merge=lfs -text
BLOInformationReport.aspx filter=lfs diff=lfs merge=lfs -text
CameraStatusIndoor.aspx filter=lfs diff=lfs merge=lfs -text
CameraStatusReport.aspx filter=lfs diff=lfs merge=lfs -text
CameraStatusReport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
DistrictData.aspx filter=lfs diff=lfs merge=lfs -text
GridView.aspx.cs filter=lfs diff=lfs merge=lfs -text
downloadhandler.ashx filter=lfs diff=lfs merge=lfs -text
uninstalledreport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
CameraStatusReport.aspx.cs filter=lfs diff=lfs merge=lfs -text
DistrictData.aspx.cs filter=lfs diff=lfs merge=lfs -text
NetworkFeasiblityRpt.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
SwapCamera.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
UsersMaster.aspx filter=lfs diff=lfs merge=lfs -text
did filter=lfs diff=lfs merge=lfs -text
StreamlistMaster.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
UsersMaster.aspx.cs filter=lfs diff=lfs merge=lfs -text
datacls.dbml filter=lfs diff=lfs merge=lfs -text
images filter=lfs diff=lfs merge=lfs -text
services filter=lfs diff=lfs merge=lfs -text
ExcelReport.aspx.cs filter=lfs diff=lfs merge=lfs -text
InstallationUpdation.aspx.cs filter=lfs diff=lfs merge=lfs -text
Main.Master filter=lfs diff=lfs merge=lfs -text
MultiMappedCameraList.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
assemblyout.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
plugins filter=lfs diff=lfs merge=lfs -text
DistrictAssemblyWiseBarChart.aspx.cs filter=lfs diff=lfs merge=lfs -text
DistrictAssemblyWisePieChart.aspx.cs filter=lfs diff=lfs merge=lfs -text
acdata.aspx.cs filter=lfs diff=lfs merge=lfs -text
Watchvideodownload.aspx.cs filter=lfs diff=lfs merge=lfs -text
cam_alert.aspx.cs filter=lfs diff=lfs merge=lfs -text
exam.csproj filter=lfs diff=lfs merge=lfs -text
users.aspx.cs filter=lfs diff=lfs merge=lfs -text
BoothMaster.aspx filter=lfs diff=lfs merge=lfs -text
ChannelView.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
MapView.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
TEST.aspx filter=lfs diff=lfs merge=lfs -text
acdata_connectedonce.aspx filter=lfs diff=lfs merge=lfs -text
DAL filter=lfs diff=lfs merge=lfs -text
assemblydashboard.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
Listview.aspx.cs filter=lfs diff=lfs merge=lfs -text
uninstalledreport.aspx.cs filter=lfs diff=lfs merge=lfs -text
MapView.aspx.cs filter=lfs diff=lfs merge=lfs -text
Module filter=lfs diff=lfs merge=lfs -text
assembly.aspx filter=lfs diff=lfs merge=lfs -text
camerasetting.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
CameraOfflineReportnew.aspx.cs filter=lfs diff=lfs merge=lfs -text
Common.cs filter=lfs diff=lfs merge=lfs -text
assembly.aspx.cs filter=lfs diff=lfs merge=lfs -text
exam.sln filter=lfs diff=lfs merge=lfs -text
Watchvideodownload.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
ChannelView.aspx.cs filter=lfs diff=lfs merge=lfs -text
KitHandoverRpt.aspx.cs filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
TEST.aspx.cs filter=lfs diff=lfs merge=lfs -text
UnmappedCameraList.aspx.cs filter=lfs diff=lfs merge=lfs -text
UnmappedGridView.aspx filter=lfs diff=lfs merge=lfs -text
Dashboard.aspx.cs filter=lfs diff=lfs merge=lfs -text
MultiMappedCameraList.aspx.cs filter=lfs diff=lfs merge=lfs -text
UnmappedCameraList.aspx filter=lfs diff=lfs merge=lfs -text
Help filter=lfs diff=lfs merge=lfs -text
KitHandoverRpt.aspx filter=lfs diff=lfs merge=lfs -text
VideoBitrate.aspx filter=lfs diff=lfs merge=lfs -text
CameraOfflineReport.aspx.cs filter=lfs diff=lfs merge=lfs -text
InstallationReport.aspx filter=lfs diff=lfs merge=lfs -text
LoginHistoryReport.aspx.cs filter=lfs diff=lfs merge=lfs -text
cam_alert.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
districtdata_connectedonce.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
downloadrecordings.aspx filter=lfs diff=lfs merge=lfs -text
Main.Master.cs filter=lfs diff=lfs merge=lfs -text
districtdata_connectedonce.aspx.cs filter=lfs diff=lfs merge=lfs -text
js filter=lfs diff=lfs merge=lfs -text
Admin.Master.designer.cs filter=lfs diff=lfs merge=lfs -text
ArchiveView.aspx filter=lfs diff=lfs merge=lfs -text
Listview.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
MapView.aspx filter=lfs diff=lfs merge=lfs -text
SizeCalulation.aspx filter=lfs diff=lfs merge=lfs -text
UnmappedCameraList.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
CameraOfflineReportnew.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
StreamlistMaster.aspx.cs filter=lfs diff=lfs merge=lfs -text
VideoBitrate.aspx.cs filter=lfs diff=lfs merge=lfs -text
acdata.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
ptzcam.aspx filter=lfs diff=lfs merge=lfs -text
CameraStatusIndoor.aspx.cs filter=lfs diff=lfs merge=lfs -text
CameraStatusoutdoor.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
DownloadRecording.aspx.cs filter=lfs diff=lfs merge=lfs -text
Global.asax.cs filter=lfs diff=lfs merge=lfs -text
Logout.aspx filter=lfs diff=lfs merge=lfs -text
Home.aspx filter=lfs diff=lfs merge=lfs -text
assemblyout.aspx.cs filter=lfs diff=lfs merge=lfs -text
video-js-8.5.2 filter=lfs diff=lfs merge=lfs -text
css filter=lfs diff=lfs merge=lfs -text
BoothMaster.aspx.cs filter=lfs diff=lfs merge=lfs -text
CameraStatusoutdoor.aspx.cs filter=lfs diff=lfs merge=lfs -text
AIView.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
Web.Debug.config filter=lfs diff=lfs merge=lfs -text
obj filter=lfs diff=lfs merge=lfs -text
users.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
CameraStatus.aspx.cs filter=lfs diff=lfs merge=lfs -text
CameraStatusIndoor.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
Logout.aspx.cs filter=lfs diff=lfs merge=lfs -text
RecordingSize.aspx filter=lfs diff=lfs merge=lfs -text
acdata_connectedonce.aspx.cs filter=lfs diff=lfs merge=lfs -text
downloadrecordings.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
BLOInformationReport.aspx.cs filter=lfs diff=lfs merge=lfs -text
fonts filter=lfs diff=lfs merge=lfs -text
users.aspx filter=lfs diff=lfs merge=lfs -text
GridViewfategarh.aspx filter=lfs diff=lfs merge=lfs -text
InstallationUpdation.aspx filter=lfs diff=lfs merge=lfs -text
Unmapcamera.aspx filter=lfs diff=lfs merge=lfs -text
acdata.aspx filter=lfs diff=lfs merge=lfs -text
dist filter=lfs diff=lfs merge=lfs -text
ptzcam.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
DistrictWiseBarChart.aspx filter=lfs diff=lfs merge=lfs -text
GridView.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
MultiMappedCameraList.aspx filter=lfs diff=lfs merge=lfs -text
WatchVideo.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
acdata_connectedonce.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
img filter=lfs diff=lfs merge=lfs -text
Admin.Master.cs filter=lfs diff=lfs merge=lfs -text
CameraOfflineReportnew.aspx filter=lfs diff=lfs merge=lfs -text
Dashboard.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
Properties filter=lfs diff=lfs merge=lfs -text
TrailRunReport.aspx.cs filter=lfs diff=lfs merge=lfs -text
BLOInformationReport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
ChannelView1.aspx filter=lfs diff=lfs merge=lfs -text
DistrictWiseBarChart.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
UploadOperator.aspx.cs filter=lfs diff=lfs merge=lfs -text
WatchVideo.aspx.cs filter=lfs diff=lfs merge=lfs -text
BoothExcelFomat.xlsx filter=lfs diff=lfs merge=lfs -text
DistrictAssemblyWisePieChart.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
ExcelReport.aspx filter=lfs diff=lfs merge=lfs -text
LoginHistoryReport.aspx filter=lfs diff=lfs merge=lfs -text
RecordingSize.aspx.cs filter=lfs diff=lfs merge=lfs -text
ChannelView1.aspx.cs filter=lfs diff=lfs merge=lfs -text
SizeCalulation.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
SwapCamera.aspx filter=lfs diff=lfs merge=lfs -text
TrailRunRpt.aspx.cs filter=lfs diff=lfs merge=lfs -text
assets filter=lfs diff=lfs merge=lfs -text
Global.asax filter=lfs diff=lfs merge=lfs -text
Home.aspx.cs filter=lfs diff=lfs merge=lfs -text
PenaltyReport.aspx filter=lfs diff=lfs merge=lfs -text
PenaltyReport.aspx.cs filter=lfs diff=lfs merge=lfs -text
TEST.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
TrailRunRpt.aspx filter=lfs diff=lfs merge=lfs -text
AIView.aspx.cs filter=lfs diff=lfs merge=lfs -text
DistrictWiseBarChart.aspx.cs filter=lfs diff=lfs merge=lfs -text
ExcelReport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
TrailRunReport.aspx filter=lfs diff=lfs merge=lfs -text
WatchVideo.aspx filter=lfs diff=lfs merge=lfs -text
assemblyin.aspx.cs filter=lfs diff=lfs merge=lfs -text
CameraStatusoutdoor.aspx filter=lfs diff=lfs merge=lfs -text
Default.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
Web.config filter=lfs diff=lfs merge=lfs -text
DistrictAssemblyWiseBarChart.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
InstalledReport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
UsersMaster.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
bin filter=lfs diff=lfs merge=lfs -text
ChannelView.aspx filter=lfs diff=lfs merge=lfs -text
assembly.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
uninstalledreport.aspx filter=lfs diff=lfs merge=lfs -text
PenaltyReport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
Unmapcamera.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
UnmappedGridView.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
camerasetting.aspx.cs filter=lfs diff=lfs merge=lfs -text
districtdata_connectedonce.aspx filter=lfs diff=lfs merge=lfs -text
ptzcam.aspx.cs filter=lfs diff=lfs merge=lfs -text
exam.csproj.user filter=lfs diff=lfs merge=lfs -text
InstalledReport.aspx filter=lfs diff=lfs merge=lfs -text
Unmappedlist.aspx filter=lfs diff=lfs merge=lfs -text
assemblyin.aspx filter=lfs diff=lfs merge=lfs -text
InstalledReport.aspx.cs filter=lfs diff=lfs merge=lfs -text
LoadTestReport.aspx.cs filter=lfs diff=lfs merge=lfs -text
Main.Master.designer.cs filter=lfs diff=lfs merge=lfs -text
UnmappedGridView.aspx.cs filter=lfs diff=lfs merge=lfs -text
assemblydashboard.aspx filter=lfs diff=lfs merge=lfs -text
CameraStatus.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
CameraOfflineReport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
SimulationReport_PunjabElection.pdf filter=lfs diff=lfs merge=lfs -text
Watchvideodownload.aspx filter=lfs diff=lfs merge=lfs -text
Web.Release.config filter=lfs diff=lfs merge=lfs -text
Database filter=lfs diff=lfs merge=lfs -text
GridView.aspx filter=lfs diff=lfs merge=lfs -text
assemblydashboard.aspx.cs filter=lfs diff=lfs merge=lfs -text
assemblyout.aspx filter=lfs diff=lfs merge=lfs -text
eledata.asmx filter=lfs diff=lfs merge=lfs -text
datacls.designer.cs filter=lfs diff=lfs merge=lfs -text
CameraStatus.aspx filter=lfs diff=lfs merge=lfs -text
RecordingSize.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
outdoorgridview.aspx.cs filter=lfs diff=lfs merge=lfs -text
InstallationReport.aspx.cs filter=lfs diff=lfs merge=lfs -text
Unmappedlist.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
datacls.dbml.layout filter=lfs diff=lfs merge=lfs -text
eledata.asmx.cs filter=lfs diff=lfs merge=lfs -text
packages.config filter=lfs diff=lfs merge=lfs -text
CameraConnectedOnceReport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
ChannelView1.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
Default.aspx filter=lfs diff=lfs merge=lfs -text
UserExcelFormat.xlsx filter=lfs diff=lfs merge=lfs -text
downloadrecordings.aspx.cs filter=lfs diff=lfs merge=lfs -text
electionapi.asmx.cs filter=lfs diff=lfs merge=lfs -text
excelreport filter=lfs diff=lfs merge=lfs -text
BAL filter=lfs diff=lfs merge=lfs -text
CameraOfflineReport.aspx filter=lfs diff=lfs merge=lfs -text
DownloadRecording.aspx filter=lfs diff=lfs merge=lfs -text
Listview.aspx filter=lfs diff=lfs merge=lfs -text
LoginHistoryReport.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
downloadhandler.ashx.cs filter=lfs diff=lfs merge=lfs -text
ArchiveView.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
DownloadRecording.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
Home.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
KitHandoverRpt.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
UploadOperator.aspx filter=lfs diff=lfs merge=lfs -text
assemblyin.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
ArchiveView.aspx.cs filter=lfs diff=lfs merge=lfs -text
Logout.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
UploadOperator.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
NetworkFeasiblityRpt.aspx.cs filter=lfs diff=lfs merge=lfs -text
packages filter=lfs diff=lfs merge=lfs -text
CameraExcelFomat.xlsx filter=lfs diff=lfs merge=lfs -text
CameraStatus[[:space:]]-[[:space:]]Copy.aspx filter=lfs diff=lfs merge=lfs -text
LoadTestReport.aspx filter=lfs diff=lfs merge=lfs -text
TrailRunRpt.aspx.designer.cs filter=lfs diff=lfs merge=lfs -text
Default.aspx.cs filter=lfs diff=lfs merge=lfs -text
StreamlistMaster.aspx filter=lfs diff=lfs merge=lfs -text
log.txt filter=lfs diff=lfs merge=lfs -text
